In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [65]:
bikeshare= pd.read_csv("day.csv")

In [66]:
## If day is Saturday or Sunday, working day is 0; else 1
bikeshare.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [67]:
bikeshare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
instant       731 non-null int64
dteday        731 non-null object
season        731 non-null int64
yr            731 non-null int64
mnth          731 non-null int64
holiday       731 non-null int64
weekday       731 non-null int64
workingday    731 non-null int64
weathersit    731 non-null int64
temp          731 non-null float64
atemp         731 non-null float64
hum           731 non-null float64
windspeed     731 non-null float64
casual        731 non-null int64
registered    731 non-null int64
cnt           731 non-null int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [68]:
bikeshare.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [69]:
## If it is 2011, yr column is ; else 1 
bikeshare["year_2012"]= pd.get_dummies(bikeshare["yr"], drop_first= True)

In [70]:
##
bikeshare.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year_2012
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,0
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,0
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,0
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,0
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,0
5,6,2011-01-06,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606,0
6,7,2011-01-07,1,0,1,0,5,1,2,0.196522,0.208839,0.498696,0.168726,148,1362,1510,0
7,8,2011-01-08,1,0,1,0,6,0,2,0.165000,0.162254,0.535833,0.266804,68,891,959,0
8,9,2011-01-09,1,0,1,0,0,0,1,0.138333,0.116175,0.434167,0.361950,54,768,822,0
9,10,2011-01-10,1,0,1,0,1,1,1,0.150833,0.150888,0.482917,0.223267,41,1280,1321,0

In [71]:
## Linear model would include square of temperature
bikeshare["squared_temp"]= bikeshare["temp"]**2

In [72]:
## If weathersit is 1, then the weather is clear
bikeshare["clearday"]= np.where(bikeshare["weathersit"] == 1, 1, 0)

In [73]:
import statsmodels.formula.api as smf

In [74]:
bikeshare_df= bikeshare[["registered","temp", "squared_temp", "workingday", "clearday", "year_2012"]]

In [75]:
## Creating a fitted model
lm1 = smf.ols(formula='registered ~ temp+squared_temp+workingday+clearday+year_2012', data=bikeshare_df).fit()

In [78]:
# Coefficients
coefficients = pd.DataFrame(lm1.params)
coefficients.columns = ["Coefficients"]
coefficients

              Coefficients
Intercept     -2453.596525
temp          14449.207510
squared_temp -10590.584690
workingday      953.341701
clearday        621.813731
year_2012      1716.254903

In [79]:
## 95% Confidence Interval
CI = pd.DataFrame(lm1.conf_int())
CI.columns = ["Lower Confidence Interval", "Upper Confidence Interval"]
CI

              Lower Confidence Interval  Upper Confidence Interval
Intercept                  -2873.570990               -2033.622059
temp                       12668.995413               16229.419608
squared_temp              -12382.382570               -8798.786810
workingday                   833.755999                1072.927403
clearday                     504.575344                 739.052118
year_2012                   1604.971344                1827.538463

In [82]:
coefficients.index[0]

['Intercept']

In [91]:
print("Linear model to predict registered riders:",
      coefficients.index[0], " * " ,coefficients.iloc[0][0], "+ ",
      coefficients.index[1], " * " ,coefficients.iloc[1][0], "+ ",
      coefficients.index[2], " * " ,coefficients.iloc[2][0], "+ ",
      coefficients.index[3], " * " ,coefficients.iloc[3][0], "+ ",
      coefficients.index[4], " * " ,coefficients.iloc[4][0], "+ ",
      coefficients.index[5], " * " ,coefficients.iloc[5][0])

Linear model to predict registered riders: Intercept  *  -2453.5965247138743 +  temp  *  14449.20751047585 +  squared_temp  *  -10590.584690352789 +  workingday  *  953.3417010247457 +  clearday  *  621.8137308218462 +  year_2012  *  1716.254903493674

In [87]:
coefficients.iloc[0][0]

-2453.5965247138743

In [89]:
coefficients.index[0]

'Intercept'